In [101]:
import pandas as pd

pd.set_option('display.max_rows', None)

In [102]:
labour_market_overview = pd.read_csv('Processed_Data/Labour_Market_Overview.csv')
labour_market_overview['Year-Month']=pd.to_datetime(labour_market_overview['Year-Month'])
labour_market_overview.set_index('Year-Month', inplace=True)
labour_market_overview.index=labour_market_overview.index.to_period('M')
lmo_tech = labour_market_overview[['Information & communication']]
lmo_tech = lmo_tech.rename(columns={'Information & communication': 'Number of Workforce Jobs'})
print(lmo_tech)

            Number of Workforce Jobs
Year-Month
1978-06                          781
1978-09                          783
1978-12                          787
1979-03                          789
1979-06                          791
1979-09                          793
1979-12                          794
1980-03                          791
1980-06                          787
1980-09                          777
1980-12                          767
1981-03                          757
1981-06                          751
1981-09                          745
1981-12                          742
1982-03                          740
1982-06                          739
1982-09                          730
1982-12                          729
1983-03                          729
1983-06                          728
1983-09                          733
1983-12                          740
1984-03                          746
1984-06                          750
1984-09                          752
1984-12                          757
1985-03                          759
1985-06                          762
1985-09                          761
1985-12                          763
1986-03                          761
1986-06                          762
1986-09                          762
1986-12                          764
1987-03                          767
1987-06                          776
1987-09                          783
1987-12                          791
1988-03                          799
1988-06                          806
1988-09                          813
1988-12                          822
1989-03                          831
1989-06                          836
1989-09                          836
1989-12                          842
1990-03                          844
1990-06                          847
1990-09                          840
1990-12                          833
1991-03                          821
1991-06                          811
1991-09                          804
1991-12                          802
1992-03                          800
1992-06                          796
1992-09                          782
1992-12                          780
1993-03                          787
1993-06                          790
1993-09                          790
1993-12                          794
1994-03                          794
1994-06                          797
1994-09                          805
1994-12                          812
1995-03                          813
1995-06                          818
1995-09                          821
1995-12                          823
1996-03                          813
1996-06                          827
1996-09                          845
1996-12                          848
1997-03                          884
1997-06                          895
1997-09                          899
1997-12                          930
1998-03                          956
1998-06                          970
1998-09                          975
1998-12                         1014
1999-03                         1027
1999-06                         1065
1999-09                         1079
1999-12                         1092
2000-03                         1100
2000-06                         1132
2000-09                         1161
2000-12                         1195
2001-03                         1196
2001-06                         1207
2001-09                         1213
2001-12                         1212
2002-03                         1214
2002-06                         1207
2002-09                         1211
2002-12                         1219
2003-03                         1229
2003-06                         1241
2003-09                         1227
2003-12                         1207
2004-03                         1203
2004-06                         1186
2004-09                         1174
2004-12                         1164
2005-03                         1185
2005-06                         1188
2005-09                         1186
2005-12                         1195
2006-03                         1218
2006-06                         1228
2006-09                         1240
2006-12                         1241
2007-03                         1245
2007-06                         1250
2007-09                         1245
2007-12                         1235
2008-03                         1223
2008-06                         1234
2008-09                         1239
2008-12                         1213
2009-03                         1221
2009-06                         1215
2009-09                         1186
2009-12                         1193
2010-03                         1168
2010-06                         1172
2010-09                         1195
2010-12                         1193
2011-03                         1225
2011-06                         1230
2011-09                         1233
2011-12                         1227
2012-03                         1230
2012-06                         1226
2012-09                         1238
2012-12                         1264
2013-03                         1268
2013-06                         1269
2013-09                         1276
2013-12                         1309
2014-03                         1345
2014-06                         1355
2014-09                         1361
2014-12                         1365
2015-03                         1388
2015-06                         1384
2015-09                         1381
2015-12                         1376
2016-03                         1387
2016-06                         1423
2016-09                         1417
2016-12                         1433
2017-03                         1463
2017-06                         1503
2017-09                         1487
2017-12                         1468
2018-03                         1474
2018-06                         1473
2018-09                         1460
2018-12                         1479
2019-03                         1489
2019-06                         1494
2019-09                         1505
2019-12                         1533
2020-03                         1554
2020-06                         1526
2020-09                         1517
2020-12                         1510
2021-03                         1517
2021-06                         1495
2021-09                         1533
2021-12                         1564
2022-03                         1577
2022-06                         1608
2022-09                         1624
2022-12                         1624
2023-03                         1656
2023-06                         1646
2023-09                         1589
2023-12                         1633
2024-03                         1623
2024-06                         1615
2024-09                         1638

In [103]:
emp13 = pd.read_excel('Raw_Data/emp13feb2025.xls', sheet_name=1, skiprows=5, nrows=123)
emp13 = emp13.rename(columns={'Unnamed: 0':'Date'})
emp13.set_index('Date', inplace=True)
emp13=emp13.drop(emp13.index[1:11])
emp13.index=emp13.index.str.replace(r'\s\[r\]','',regex=True) #replace [r] with empty string
emp13.index=emp13.index.str.replace(r'^[A-Za-z]{3}-','', regex=True) # Removes the starting months so the data can merge based on date with lmo_tech
emp13.index=pd.to_datetime(emp13.index, errors='coerce')
emp13.index=emp13.index.to_period('M')
emp13_tech=emp13[['Information & communication']]
emp13_tech = emp13_tech.rename(columns={'Information & communication': 'Number of People Employed'})
print(emp13_tech)

#these values don't align with the ones in the excel sheet

        Number of People Employed
Date
1997-03             742811.463903
1997-06             772783.632538
1997-09             773860.220009
1997-12             798529.553019
1998-03             828529.585284
1998-06              826116.86858
1998-09             845925.464043
1998-12             877607.739811
1999-03             896156.192495
1999-06             914770.150687
1999-09              939189.07257
1999-12             953733.263969
2000-03             969816.299272
2000-06             994833.300983
2000-09            1031614.939322
2000-12            1055549.553808
2001-03            1071391.068296
2001-06            1076429.058144
2001-09            1088802.462201
2001-12            1068321.744464
2002-03              1011182.2489
2002-06             990154.510871
2002-09            1011962.842934
2002-12            1018189.260462
2003-03            1004166.613318
2003-06            1010065.244175
2003-09            1033197.840706
2003-12            1026513.600834
2004-03            1043955.884694
2004-06            1045457.692031
2004-09            1049147.718429
2004-12            1027574.263796
2005-03            1025729.536175
2005-06            1013374.889835
2005-09            1024144.449124
2005-12            1022014.910032
2006-03             1014122.65537
2006-06            1023900.523803
2006-09            1044787.203705
2006-12            1057485.937313
2007-03            1056296.651006
2007-06            1050761.752823
2007-09            1062159.618164
2007-12            1019461.263936
2008-03            1024283.920372
2008-06            1032865.553871
2008-09            1062625.775085
2008-12             1036125.15376
2009-03                   1034945
2009-06                   1014758
2009-09                   1020180
2009-12                   1014172
2010-03                   1010855
2010-06                    979488
2010-09                   1044632
2010-12                   1029850
2011-03                   1059342
2011-06                   1073353
2011-09                   1060772
2011-12                   1083175
2012-03                   1124499
2012-06                   1098286
2012-09                   1112535
2012-12                   1146006
2013-03                   1160711
2013-06                   1162233
2013-09                   1176838
2013-12                   1197596
2014-03                   1150225
2014-06                   1174315
2014-09                   1236745
2014-12                   1249875
2015-03                   1275948
2015-06                   1242937
2015-09                   1275257
2015-12                   1260949
2016-03                   1225338
2016-06                   1206500
2016-09                   1301752
2016-12                   1320791
2017-03                   1322533
2017-06                   1340040
2017-09                   1272853
2017-12                   1241806
2018-03                   1311861
2018-06                   1317487
2018-09                   1304665
2018-12                   1289589
2019-03                   1317504
2019-06                   1337422
2019-09                   1407125
2019-12                   1493982
2020-03                   1500691
2020-06                   1434758
2020-09                   1522568
2020-12                   1534146
2021-03                   1538785
2021-06                   1524022
2021-09                   1571805
2021-12                   1595821
2022-03                   1580375
2022-06                   1648476
2022-09                   1750660
2022-12                   1681767
2023-03                   1654087
2023-06                   1739441
2023-09                   1717008
2023-12                   1659414
2024-03                   1656955
2024-06                   1652897
2024-09                   1665279
2024-12                   1666355

C:\Users\M D'costa\AppData\Local\Temp\ipykernel_8812\3018228535.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  emp13.index=pd.to_datetime(emp13.index, errors='coerce')

In [104]:
actual_number_employed = [
    743, 773, 774, 799, 829, 826, 846, 878, 896, 915, 939, 954, 970,
    995, 1032, 1056, 1071, 1076, 1089, 1068, 1011, 990, 1012, 1018, 1004,
    1010, 1033, 1027, 1044, 1045, 1049, 1028, 1026, 1013, 1024, 1022, 1014,
    1024, 1045, 1057, 1056, 1051, 1062, 1019, 1024, 1033, 1063, 1036, 1035,
    1015, 1020, 1014, 1011, 979, 1045, 1030, 1059, 1073, 1061, 1083, 1124,
    1098, 1113, 1146, 1161, 1162, 1177, 1198, 1150, 1174, 1237, 1250, 1276,
    1243, 1275, 1261, 1225, 1207, 1302, 1321, 1323, 1340, 1273, 1242, 1312,
    1317, 1305, 1290, 1318, 1337, 1407, 1494, 1501, 1435, 1523, 1534, 1539,
    1524, 1572, 1596, 1580, 1648, 1751, 1682, 1654, 1739, 1717, 1659, 1657,
    1653, 1665, 1666
]

if len(actual_number_employed) == len(emp13_tech):
    for i in range(len(actual_number_employed)):
        emp13_tech.iloc[i,0]=actual_number_employed[i]
else:
    print('The number of values in actual_number_employed does not match with the number of rows in emp13_tech')

print(emp13_tech)

        Number of People Employed
Date
1997-03                       743
1997-06                       773
1997-09                       774
1997-12                       799
1998-03                       829
1998-06                       826
1998-09                       846
1998-12                       878
1999-03                       896
1999-06                       915
1999-09                       939
1999-12                       954
2000-03                       970
2000-06                       995
2000-09                      1032
2000-12                      1056
2001-03                      1071
2001-06                      1076
2001-09                      1089
2001-12                      1068
2002-03                      1011
2002-06                       990
2002-09                      1012
2002-12                      1018
2003-03                      1004
2003-06                      1010
2003-09                      1033
2003-12                      1027
2004-03                      1044
2004-06                      1045
2004-09                      1049
2004-12                      1028
2005-03                      1026
2005-06                      1013
2005-09                      1024
2005-12                      1022
2006-03                      1014
2006-06                      1024
2006-09                      1045
2006-12                      1057
2007-03                      1056
2007-06                      1051
2007-09                      1062
2007-12                      1019
2008-03                      1024
2008-06                      1033
2008-09                      1063
2008-12                      1036
2009-03                      1035
2009-06                      1015
2009-09                      1020
2009-12                      1014
2010-03                      1011
2010-06                       979
2010-09                      1045
2010-12                      1030
2011-03                      1059
2011-06                      1073
2011-09                      1061
2011-12                      1083
2012-03                      1124
2012-06                      1098
2012-09                      1113
2012-12                      1146
2013-03                      1161
2013-06                      1162
2013-09                      1177
2013-12                      1198
2014-03                      1150
2014-06                      1174
2014-09                      1237
2014-12                      1250
2015-03                      1276
2015-06                      1243
2015-09                      1275
2015-12                      1261
2016-03                      1225
2016-06                      1207
2016-09                      1302
2016-12                      1321
2017-03                      1323
2017-06                      1340
2017-09                      1273
2017-12                      1242
2018-03                      1312
2018-06                      1317
2018-09                      1305
2018-12                      1290
2019-03                      1318
2019-06                      1337
2019-09                      1407
2019-12                      1494
2020-03                      1501
2020-06                      1435
2020-09                      1523
2020-12                      1534
2021-03                      1539
2021-06                      1524
2021-09                      1572
2021-12                      1596
2022-03                      1580
2022-06                      1648
2022-09                      1751
2022-12                      1682
2023-03                      1654
2023-06                      1739
2023-09                      1717
2023-12                      1659
2024-03                      1657
2024-06                      1653
2024-09                      1665
2024-12                      1666

In [106]:
vacs02 = pd.read_excel('Raw_Data/vacs02apr2025.xls')
print(vacs02)

FileNotFoundError: [Errno 2] No such file or directory: 'Raw_Data/vacs02apr2025.xls'